/* Global Defaults
=====================================================================*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,table,tr,th,td,embed,object {
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img,abbr{
	border:0;
}
ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
a,a:link,a:visited,a:hover { 
	color:#2e577a;
	text-decoration:none; 
}
a:focus,a:hover { 
	text-decoration:underline;
}
a img { 
	border:0; 
}
:focus {
	outline: 0;
}
.clear { 
	clear:both; 
}
/* Global Elements
=====================================================================*/
body {
	background:#fff url(../images/back_repeat.png) repeat-x 0 44px;
	line-height: 1.6em;
	font:62.5% arial, verdana, serif;
}
.replace{
	position:relative;
	margin:0;
	padding:0;
	/* \*/
	overflow:hidden;
	/* */
}
.replace span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.skiplink{
	display:none;
}
/* Start CSS Coding
=====================================================================*/
#container {
	width:100%;
}
#wrapglossy {
	width: 100%;
	background: url(../images/back_glossy.png) no-repeat 50% 64px;
}
#wrapcontent {
	width: 100%;
	background: url(../images/back_wrapcontent.png) repeat-x;
}
#wrapcontentinner {
	width: 100%;
	background: url(../images/back_wrapcontentinner.png) repeat-x;
}
#wrapper {
	width:990px;
	margin:0 auto;
}
#header {
	width: 990px;
	height: 64px;
}
#logo{
	width:222px;
	height:59px;
	font-size:1.2em;
	position:relative;
	overflow:hidden;
	display:inline;
	text-indent: -5000px;
	float: left;
	margin: 0 0 0 20px;
}
#logo span{
	background:url(../images/logo.png) no-repeat;
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
#topmenu, #menutemplate {
	float: right;
	height: 44px;
}
#topmenu li, #menutemplate li {
	height: 44px;
	float: left;
}
#topmenu li a, #topmenu li a:link, #topmenu li a:visited {
	height: 30px;
	float: left;
	font-size: 1.1em;
	color: #2e577a;
	padding: 14px 12px 0 32px;
}
#menutemplate li a, #menutemplate li a:link, #menutemplate li a:visited {
	height: 30px;
	float: left;
	font-size: 1.2em;
	color: #2e577a;
	padding: 12px 12px 0 32px;
}

.downtemplate {
	background: url(../images/download.png) no-repeat 8px 11px;
}
.backtemplate {
	background: url(../images/back.png) no-repeat 8px 13px;
}
#placeslideshow {
	width: 964px;
	height: 316px;
	background: url(../images/back_slideshow.png) no-repeat;
	margin: 11px 0 0 11px;
	padding: 4px 0 0 4px;
}
#slideshow {
	width: 964px;
	height: 316px;
	position: relative;
	overflow: hidden;
}
#placemainmenu {
	width: 968px;
	height: 51px;
	margin: 9px 0 0 11px;
	background: url(../images/mainmenu.png) no-repeat;
}
.ui-tabs-hide {  
	display: none;  
}
#titleproject {
	width: 924px;
	height: 21px;
	position: absolute;
	z-index: 10;
	background: url(../images/back_featured.png) repeat-x;
	top: 203px;
	left: 14px;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 7px 0 0 16px;
}
#tabsslide {
	width: 940px;
	height: 73px;
	background: url(../images/back_tabsslide.png) repeat-x;
	z-index: 20;
	left: 14px;
	top: 231px;
	position: absolute;
}
#tabsslide li {
	width: 234px;
	height: 73px;
	float: left;
	display: inline;
	background: url(../images/sepslide.png) no-repeat 100% 0;
	padding: 0 1px 0 0;
}
#tabsslide li a, #tabsslide li a:link, #tabsslide li a:visited {
	float: left;
	width: 202px;
	height: 63px;
	padding: 10px 16px 0 16px;
	font-size: 1.2em;
	line-height:1.4em;
	color: #3c3c3c;
	margin: 1px 0 0 0;
}
#tabsslide li a:hover, #tabsslide li.ui-tabs-selected a, #tabsslide li.ui-tabs-selected a:link, #tabsslide li.ui-tabs-selected a:visited {
	background: url(../images/slide_hover.png) repeat-x;
	color: #fff;
	text-decoration: none;
}
#mainmenu {
	width: 968px;
	height: 42px;
	float: left;
	margin: 4px 0 0 4px;
	display: inline;
}
#mainmenu li {
	height: 42px;
	float: left;
	display: inline;
	background: url(../images/sepmenu.png) no-repeat 100% 0;
	position: relative;
}
#mainmenu li a, #mainmenu li a:link, #mainmenu li a:visited {
	height: 30px;
	float: left;
	padding: 12px 15px 0 15px;
	font-size: 1.4em;
	font-weight: bold;
}
#mainmenu li:hover a, #mainmenu li:hover a:link, #mainmenu li:hover a:visited, #mainmenu li.active a, #mainmenu li.active a:link, #mainmenu li.active a:visited {
	background: url(../images/menu_hover.png) repeat-x;
	color: #fff;
	text-decoration: none;
}
/* Start CSS POPUP Menu
=====================================================================*/
#placemainmenu ul li .dropdown1 {
	position:absolute;
	z-index:500;
	display:none;
	width:228px;
	margin:29px 0 0 0;
	left:-16px;
	padding: 0;
}
#placemainmenu ul li .dropdown1 .dropdowntop {
	width: 228px;
	height: 30px;
	background: url(../images/dropdown_top1.png) no-repeat;
}
#placemainmenu ul li .dropdown1 .dropdownbottom {
	width: 228px;
	background: url(../images/dropdown_bottom1.png) no-repeat 0 100%;
	padding: 0 0 30px 0;
}
#placemainmenu #mainmenu li:hover a.linkdropbig, #placemainmenu #mainmenu li:hover a.linkdropbig:link, #placemainmenu #mainmenu li:hover a.linkdropbig:visited {
	float: left;
	width: 287px;
	height: 20px;
	border-bottom: 1px solid #e3e3e3;
	background: none;
	color: #494949;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 0 0 5px;
	margin: 0 0 0 29px;
}
#placemainmenu #mainmenu li:hover a.linkdropbig:hover {
	text-decoration: underline;
}
#placemainmenu ul li .dropdown1 ul.menudrop1 {
	width: 170px;
	margin: 0 0 0 29px;
}
#placemainmenu ul li .dropdown1 ul.menudrop1 li {
	width: 170px;
	height:29px;
	background: none;
	padding: 0;
	margin: 0;
	display: inline;
	float: left;
	border-bottom: 1px solid #ededed;
}
#placemainmenu #mainmenu li:hover ul.menudrop1 a, #placemainmenu #mainmenu li:hover ul.menudrop1 a:link, #placemainmenu #mainmenu li:hover ul.menudrop1 a:visited {
	color:#818181;
	font-size:1.1em;
	text-transform: none;
	margin: 0;
	background: none;
	display: inline;
	float: left;
	height: 21px;
	width: 160px;
	padding: 8px 5px 0 5px;
}
#placemainmenu #mainmenu li:hover ul li:hover a:hover, #placemainmenu #mainmenu li ul li:hover a:hover, #placemainmenu #mainmenu li:hover ul li:hover a {
	text-decoration:none;
	color:#fff;
	background: #4a4a4a;
}
div#placemainmenu li:hover .dropdown1,
div#placemainmenu li li:hover .dropdown1
{display:none;}
div#placemainmenu li:hover .dropdown1,
div#placemainmenu li li:hover .dropdown1
{display:block;cursor:pointer;}
/* End CSS Drop Down Menu */
#frmsearch {
	width: 254px;
	height: 31px;
	float: left;
	margin: 10px 0 0 0;
	background: url(../images/textboxsearch.png) no-repeat;
}
.textboxsearch {
	width: 201px;
	height: 24px;
	border: none;
	background: none;
	font-size: 1.1em;
	color:#2f2f2f;
	padding: 7px 6px 0 6px;
	font-family: Arial, verdana, serif;
	float: left;
}
.submitsearch {
	width:31px;
	height:31px;
	background:url(../images/submitsearch.png) no-repeat;
	border:0;
	cursor:pointer;
	overflow: hidden;
	text-indent:-5000px;
	margin:0 0 0 2px;
	float: left;
}
.submitsearch:hover {
	background-position:0 -31px;
}
#intro {
	width: 960px;
	margin: 20px auto;

}
#intro h1 {
	font-size: 3.0em;
	font-family: "Myriad Pro", arial, serif;
	color: #366182;
}
#intro p {
	font-size: 1.8em;
	line-height: 1.4em;
	padding: 5px 10px 0 0;
	width: 710px;
	float: left;
}
#placeservice {
	width: 960px;
	height: 386px;
	background: url(../images/placeservice.png) no-repeat;
	margin: 0 auto;
}
#boxservice1 {
	width: 304px;
	height: 371px;
	float: left;
	display: inline;
	margin: 0 0 0 13px;
	background: url(../images/box_service.png) no-repeat 0 100%;
}
#boxservice2 {
	width: 304px;
	height: 371px;
	float: left;
	display: inline;
	margin: 0 0 0 11px;
	background: url(../images/box_service.png) no-repeat 0 100%;
}
#boxservice3 {
	width: 304px;
	height: 371px;
	float: left;
	display: inline;
	margin: 0 0 0 12px;
	background: url(../images/box_service.png) no-repeat 0 100%;
}
#placeservice h2 {
	width: 304px;
	height: 27px;
	font-size: 1.8em;
	font-family: "Myriad Pro", arial, serif;
	padding: 16px 0 0 0;
	text-transform: uppercase;
}
.contentservice {
	width: 278px;
	height: 263px;
	padding: 13px 13px 0 13px;
}
#listservice li {
	padding: 0 0 0 25px;
	margin: 0 0 14px 0;
	background: url(../images/icon_ok.png) no-repeat;
}
#listservice li h3 {
	font-size: 1.4em;
	color: #366182;
	padding: 3px 0 0 0;
}
#listservice li p {
	padding: 5px 0 0 0;
	font-size: 1.2em;
	line-height: 1.4em;
}
.linkmoreservice, .linkmoreservice:link, .linkmoreservice:visited {
	height: 24px;
	float: right;
	display: inline;
	margin: 7px 10px 0 0;
	border: 1px solid #064673;
	background: url(../images/link_servicemore.png) repeat-x;
	font-size: 1.2em;
	color: #fff;
	font-weight: bold;
	padding: 9px 10px 0 10px;
}
.linkmoreservice:hover {
	background-position: 0 -33px;
	color: #01416e;
	text-decoration: none;
}
.imglatest {
	padding: 7px;
	background: url(../images/frames_latest.png) no-repeat;
	margin: 1px 0 0 1px;
}
#boxservice2 ul {
	padding: 4px 0 0 0;
	margin: 0;
}
#boxservice2 ul li {
	margin: 0 0 4px 0;
	font-size: 1.2em;
	height: 13px;
}
#boxservice2 ul li strong {
	float: left;
	width: 56px;
}
#boxservice2 ul li span {
	width: 215px;
	float: left;
}
#listnewsservice {
	width: 275px;
}
#listnewsservice li {
	font-size: 1.2em;
	border-bottom: 1px solid #dfdfdf;
	padding: 9px 0 10px 0;
	font-weight: bold;
}
#content {
	width: 960px;
	margin: 16px auto;
}
#maincontent {
	width: 653px;
	float: left;
	border: 1px solid #dfdfdf;
	background: url(../images/back_content.png) no-repeat;
	padding: 9px 0;
}
#maincontent_val {
	width: 960px;
	float: left;
	border: 1px solid #dfdfdf;
	background: url(../images/back_validator.png) no-repeat;
	padding: 9px 0;
}

#placecontenthome {
	width: 653px;
	background: url(../images/sepcontent.png) repeat-y 323px 0;
}
#listnews {
	width: 653px;
}
#listnews li {
	width: 307px;
	height: 253px;
	float: left;
	display: inline;
	margin: 0 9px 10px 9px;
	background: url(../images/seplistnews.png) repeat-x 0 100%;
}
.linkcatnews, .linkcatnews:link, .linkcatnews:visited {
	font-size: 1.0em;
	color: #747474;
	text-transform: uppercase;
}
.linkcatnews:hover {
	color: #000;
	text-decoration: none;
}
.placetitlenews {
	width: 307px;
	height: 105px;
	margin: 5px 0 0 0;
}
.placetitlenews img {
	float: left;
	border: 1px solid #dfdfdf;
	padding: 3px;
	background: url(../images/back_imgnews.png) repeat-x;
}
.placetitle {
	width: 167px;
	height: 105px;
	float: left;
	padding: 0 0 0 7px;
}
.placetitle h2 {
	font-size: 1.8em;
	height: 87px;
	line-height: 1.1em;
}
#listnews li ul.listdate {
	width: 167px;
	height: 18px;
}
#listnews li ul.listdate li {
	display: inline;
	float: left;
	height: 16px;
	width: auto;
	padding: 0;
	margin: 0;
	background: none;
	font-size: 1.1em;
	color: #606060;
	background: url(../images/sepdate.png) no-repeat 100% 3px;
	padding: 2px 10px 0 0;
}
#listnews li ul.listdate li a {
	font-weight: bold;
}
#listnews li ul.listdate li.last {
	background: none;
	padding: 2px 0 0 8px;
}
.placeintronews {
	width: 307px;
	height: 92px;
	font-size: 1.2em;
	color: #2b2b2b;
	padding: 10px 0 0 0;
	line-height: 1.6em;
	clear: both;
}
.textposted {
	float: right;
	font-size:1.1em;
	color: #a4a4a4;
	font-weight: lighter;
	padding: 10px 0 0 0;
}
.textposted a, .textposted a:link, .textposted a:visited {
	font-weight: bold;
	color: #7a7a7a;
}
#nav {
	width: 290px;
	float: right;
}
.boxnav {
	width: 288px;
	border: 1px solid #cfcdcd;
	margin: 0 0 15px 0;
	background: url(../images/back_nav.png) repeat-x;
}
.boxvalidator {
	width: 100%;
	border: 1px solid #cfcdcd;
	margin: 0 0 15px 0;
	background: url(../images/back_val.png) repeat-x;
}
.space {
	padding:10px;
}
.titlenav {
	width: 277px;
	height: 24px;
	background: url(../images/septitlenav.png) repeat-x 0 100%;
	padding: 8px 0 0 11px;
	font-size: 1.4em;
	color: #2e577a;
}
.titlenav a{
	text-decoration:none;
}
#placeads {
	width: 288px;
}
#listads {
	width: 275px;
	padding: 14px 0 0 13px;
}
#listads li {
	width: 125px;
	height: 125px;
	float: left;
	display: inline;
	margin: 0 6px 12px 0;
}
.linkads, .linkads:link, .linkads:visited {
	float: right;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 12px 14px 0;
}
.menunav {
	width: 263px;
	margin: 0 0 0 13px;
	padding: 10px 0;
}
.menunav li {
	width: 263px;
	border-bottom: 1px solid #e7e7e7;
}
.menunav li a, .menunav li a:link, .menunav li a:visited {
	width: 225px;
	display: block;
	font-size: 1.2em;
	color: #5a5a5a;
	padding: 10px 23px;
	
}
.menunav li a:hover {
	color: #0066FF;
	text-decoration: none;
}
#tabsnav {
	width: 288px;
	height: 40px;
	background: url(../images/septitlenav.png) 0 31px repeat-x;
}
#tabsnav li {
	width: 96px;
	height: 40px;
	float: left;
	background: url(../images/septabsnav.png) 100% 1px no-repeat;
}
#tabsnav li a, #tabsnav li a:link, #tabsnav li a:visited {
	width: 96px;
	height: 32px;
	float: left;
	text-align: center;
	font-size: 1.4em;
	color: #2b2b2b;
	font-weight: bold;
	padding: 8px 0 0 0;
}
#tabsnav li.last {
	background: none;
}
#tabsnav li.ui-tabs-selected a, #tabsnav li.ui-tabs-selected a:link, #tabsnav li.ui-tabs-selected a:visited, #tabsnav li a:hover {
	background: url(../images/tabsnavhover.png) no-repeat 50% 0;
	text-decoration: none;
}
#tabsvalidator {
	width: 100%;
	height: 40px;
	background: url(../images/septitlenav.png) 0 31px repeat-x;
}
#tabsvalidator li {
	width: 180px;
	height: 40px;
	float: left;
	background: url(../images/septabsnav.png) 100% 1px no-repeat;
}
#tabsvalidator li a, #tabsvalidator li a:link, #tabsvalidator li a:visited {
	width: 180px;
	height: 32px;
	float: left;
	text-align: center;
	font-size: 1.4em;
	color: #2b2b2b;
	font-weight: bold;
	padding: 8px 0 0 0;
}
#tabsvalidator li.last {
	background: none;
}
#tabsvalidator li.ui-tabs-selected a, #tabsvalidator li.ui-tabs-selected a:link, #tabsvalidator li.ui-tabs-selected a:visited, #tabsvalidator li a:hover {
	background: url(../images/tabsvalidatorhover.png) no-repeat 50% 0;
	text-decoration: none;
}
.contentnav {
	width: 268px;
	padding: 10px;
}
.contentnav p {
	font-size: 1.2em;
	color: #2b2b2b;
	line-height: 1.6em;
	padding: 0 0 10px 0;
}
/* About Us Page 
=====================================================================*/
#placecontentin, #validator, #snippets {
	width: 625px;
	padding: 0 14px;
	font-size: 12px;
}
#results {
	width: 900px;
	padding: 0 14px;
}
#placecontentin h1, #validator h1, #results h1, #snippets h1 {
	background: url(../images/septitle.png) repeat-x 0 100%;
	font-size: 1.8em;
	color: #2b2b2b;
	padding: 4px 0 10px 0;
}
#placecontentin p, #validator p, #results p, #snippets p {
	font-size: 1.2em;
	color: #2b2b2b;
	line-height: 1.6em;
	padding: 10px 0 0 0;
}

.imgleft {
	border: 1px solid #dfdfdf;
	padding: 5px;
	background: url(../images/back_imgnews.png) repeat-x;
	float: left;
	margin: 13px 10px 0 0;
}
.imgright {
	border: 1px solid #dfdfdf;
	padding: 5px;
	background: url(../images/back_imgnews.png) repeat-x;
	float: right;
	margin: 13px 0 0 10px;
}
#placecontentin h2, #validator h2, #results h2, #snippets h2 {
	font-size: 1.6em;
	color: #2b2b2b;
	padding: 10px 0 0 0;
}
#placecontentin h3, #validator h3, #results h3, #snippets h3 {
	font-size: 1.4em;
	color:#5C5C5C;
	padding: 10px 0 0 0;
	text-decoration:underline;
}
#snippets h3 {
	font-size: 1.4em;
	color:#FF8C66;
	padding: 10px 0 0 0;
	text-decoration:underline;
}

#placecontentin h4 {
	font-size: 1.2em;
	color: #2b2b2b;
	padding: 3px 0 0 0;
}
#placecontentin h5 {
	font-size: 1.4em;
	color:#5C5C5C;
	text-decoration:underline;
}
#placecontentin ul, #snippets ul {
	padding: 10px 0 0 0;
}
#snippets ul {
	padding: 10px 0 0 0;
	width:625px;
}
#placecontentin ol, #snippets ol {
	padding: 5px 0 0 20px;
	font-size:1.2em;
}
#placecontentin ol li, #snippets ol li {
	color: #2b2b2b;
	line-height: 1.6em;
}
#placecontentin ol ol, #snippets ol ol {
	color: #2b2b2b;
	line-height: 1.6em;
}
#placecontentin ul li {
	padding: 0 0 0 25px;
	font-size: 1.2em;
	color: #2b2b2b;
	background: url(../images/bullet.png) no-repeat 10px 5px;
	line-height: 1.6em;
}
#snippets ul li {
	padding: 0 0 0 25px;
	font-size: 1.2em;
	color: #2b2b2b;
	background: url(../images/arrow-g.png) no-repeat 10px 5px;
	line-height: 1.6em;
	width:280px;
	float:left;
}
#snippets ul li:hover {
	padding: 0 0 0 25px;
	font-size: 1.2em;
	color: #2b2b2b;
	background: url(../images/arrow-r.png) no-repeat 13px 5px;
	line-height: 1.6em;
	width:280px;
	float:left;
}
#snippets a{
		display:block;
}


/* News List 
=====================================================================*/
#listpages {
	height:23px;
	margin: 5px 0 0 10px;
	padding: 0;
}
#listpages li {
	margin:0 2px 0 0;
	height:23px;
	float:left;
	font-size:1.1em;
	display:inline;
	background:none;
	padding:0;
}
#listpages li.unclick {
	margin:0 2px 0 0;
	height:17px;
	border:1px solid #d0d0d0;
	color:#d0d0d0;
	padding:4px 8px 0 8px;
}
#listpages li.dotted {
	height:18px;
	font-size:1.1em;
	padding:5px 5px 0 5px;
}
#listpages li a, #listpages li a:link, #listpages li a:visited {
	padding:4px 8px 0 8px;
	height:17px;
	display:inline;
	float:left;
	border: 1px solid #064673;
	background: url(../images/link_servicemore.png) repeat-x;
	color: #fff;
}
#listpages li a.active, #listpages li a.active:link, #listpages li a.active:visited {
	background-position: 0 -33px;
	color: #01416e;
}
#listpages li a:hover {
	background-position: 0 -33px;
	color: #01416e;
	text-decoration:none;
}
/* News Detail 
=====================================================================*/
#placecontentin ul#listpostinfo {
	padding: 3px 0 0 0;
	height: 13px;
}
#placecontentin ul#listpostinfo li {
	padding: 0 10px;
	font-size: 1.1em;
	color: #606060;
	background: url(../images/sepdate.png) no-repeat 100% 3px;
	height: 13px;
	float: left;
	display: inline;
}
#placecontentin ul#listpostinfo li.first {
	padding: 0 10px 0 0;
	color: #a4a4a4;
}
#placecontentin ul#listpostinfo li.first a, #placecontentin ul#listpostinfo li.first a:link, #placecontentin ul#listpostinfo li.first a:visited {
	font-weight: bold;
	color: #7a7a7a;
}
#placecontentin ul#listpostinfo li.last {
	background: none;
}
#placesender {
	width: 605px;
	border: 1px solid #e2e2e2;
	background: url(../images/back_imgnews.png) repeat-x;
	padding: 9px;
	margin: 10px 0;
}
#placesender img {
	float: left;
	margin: 0 10px 0 0;
}
#contentsender {
	width: 520px;
	float: left;
}
#placecontentin #placesender #contentsender h4 {
	font-size: 1.2em;
	color: #2b2b2b;
	padding: 0;
}
#placecontentin #placesender #contentsender p {
	font-size: 1.1em;
	padding: 5px 0 0 0;
}
#placecontentin ul#listcomment {
	width: 625px;
	margin: 0 0 5px 0;
	padding: 0;
}
#placecontentin ul#listcomment li {
	width: 625px;
	margin: 0;
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 0;
	background: none;
}
.placeavatar {
	width: 68px;
	float: left;
}
.placeavatar img {
	padding: 2px;
	border: 1px solid #e1e1e1;
}
.placecomment {
	width: 557px;
	float: left;
}
#placecontentin .placecomment h3 {
	font-size: 14px;
	padding: 0;
	color: #2b2b2b;
}
#placecontentin .placecomment p {
	font-size: 12px;
}
#frmcomment {
	padding: 10px 0 0 0;
}
#frmcomment label {
	display: block;
	font-size: 1.2em;
	color: #1a1a1a;
	font-weight: bold;
}
#frmcomment label span {
	font-weight: lighter;	
}

.textarea {
	width: 600px;
	height: 134px;
	background: #f6f6f6;
	border: 1px solid #d4d4d4;
	margin: 5px 0px 10px 0px;
	font-family: arial, verdana, serif;
	font-size: 12px;
	color: #1a1a1a;
	padding: 4px;
}
.textbox {
	width: 600px;
	background: #f6f6f6;
	border: 1px solid #d4d4d4;
	margin: 5px 0px 10px 0px;
	font-family: arial, verdana, serif;
	font-size: 12px;
	color: #1a1a1a;
	padding: 4px;
}
.listbox {
	background: #f6f6f6;
	border: 1px solid #d4d4d4;
	margin: 5px 0px 10px 0px;
	font-family: arial, verdana, serif;
	font-size: 12px;
	color: #1a1a1a;
	padding: 4px;
}

.button {
	height: 30px;
	background: url(../images/link_servicemore.png) repeat-x;
	border: 1px solid #064673;
	margin: 0 0 10px 0;
	font-family: arial, serif;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px 0 10px;
	cursor: pointer;
}
.button:hover {
	background-position: 0 -33px;
}
.textboxgen {
	width: 150px;
	height: 20px;
	background: #f6f6f6;
	border: 1px solid #d4d4d4;
	margin: 3px 0 10px 0;
	font-family: arial, verdana, serif;
	font-size: 1.1em;
	color: #1a1a1a;
	padding: 4px 3px 0 3px;
}

/* Portfolio 
=====================================================================*/
#placecontentin ul#listportfolio {
	width: 625px;
	margin: 0;
	padding: 15px 0 0 0;
}
#placecontentin ul#listportfolio li {
	float: left;
	display: inline;
	width: 185px;
	height: 140px;
	background: none;
	padding: 0;
	margin: 0 7px 15px 7px;
	border: 3px solid #dfdfdf;
}
#placecontentin ul#listportfolio li a {
	width: 185px;
	height: 140px;
	display: inline;
	float: left;
	border: 3px solid #dfdfdf;
}
.imgteaser {
	margin: 0;
	overflow: hidden;
	float: left;
	position: relative;
}
.imgteaser a {
	text-decoration: none;
	float: left;
}
.imgteaser a:hover {
	cursor: pointer;
}
.imgteaser a img {
	float: left;
	margin: 0;
	border: none;
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
}
.imgteaser a .more {
	position: absolute;
	right: 20px;
	bottom: 20px;
	font-size: 1.2em;
	color: #fff;
	background: #000;
	padding: 5px 10px;
	filter:alpha(opacity=65);
	opacity:.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)"; /*--IE 8 Transparency--*/
}
.imgteaser a:hover .desc{
	display: block;
	font-size: 1.2em;
	padding: 10px 0;
	background: #111;
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
	color: #fff;
	position: absolute;
	bottom: 11px;
	left: 11px;
	padding: 10px;
	margin: 0;
	width: 566px;
	border-top: 1px solid #999;
}
.imgteaser a:hover .desc strong {
	display: block;
	margin-bottom: 5px;
	font-size:1.5em;
}
.imgteaser a .desc {	display: none; }
.imgteaser a:hover .more { visibility: hidden;}
/*
=====================================================================*/
/* Contact Us
=====================================================================*/
.errordiv {
	display:block;
	border:1px solid #f2a9a9;
	padding:5px;
	color:#f00;
	font-size:1.1em;
	margin:8px 0 0 0;
}
.correctdiv {
	display:block;
	border:1px solid #b6e47a;
	padding:5px;
	color:#629c17;
	font-size:1.1em;
	margin:8px 0 0 0;
	background:#d7fca8;
}
#frmcontact {
	padding:20px 0 30px 0;
}
#frmcontact label {
	float:left;
	font-size:1.2em;
	width:150px;
	padding:3px 0 0 16px;
	margin:10px 0 0 0;
	font-weight:bold;
}
#frmcontact span {
	color:#a50e0e;
	font-size:1.2em;
	font-weight:bold;
}
#frmcontact br {
	clear:left;
}
.textboxcontact {
	width:390px;
	height:22px;
	border:1px solid #c4c4c4;
	padding:3px 5px 0 5px;
	margin:10px 0 0 0;
}
.textareacontact {
	width:390px;
	height:150px;
	border:1px solid #c4c4c4;
	font-family:Arial, verdana,serif;
	font-size:1.2em;
	padding:5px;
	margin:10px 0 0 0;
}
.textareavalidate {
	width:550px;
	height:150px;
	border:1px solid #c4c4c4;
	font-family:Arial, verdana,serif;
	font-size:1.2em;
	padding:5px;
	margin:10px 0 0 0;
}
.submitcontact {
	height: 30px;
	background: url(../images/link_servicemore.png) repeat-x;
	border: 1px solid #064673;
	margin: 10px 0 10px 0;
	font-family: "Myriad Pro", arial, serif;
	color: #fff;
	font-size: 1.2em;
	font-weight: bold;
	padding: 3px 10px 0 10px;
	cursor: pointer;
}
.submitcontact:hover {
	background-position: 0 -33px;
}
/* Footer 
=====================================================================*/
#footer {
	width: 930px;
	height: 145px;
	background: url(../images/footer.png) no-repeat;
	margin: 14px auto;
	padding: 15px 15px 0 15px;
}
#footerright {
	width: 892px;
	height: 145px;
	float: left;
}
.footer1 {
	width: 195px;
	height: 109px;
	float: left;
	background: url(../images/sepfooter.png) no-repeat 100% 0;
	padding: 0 13px;
}
.menufooter li {
	font-size: 1.2em;
	height: 15px;
	margin: 0 0 5px 0;
	padding: 4px 0 0 0;
}
#footerbottom {
	width: 900px;
	border-top: 1px solid #dfdfdf;
	padding: 7px 0 0 0;
}
#footerbottom h5 {
	float: left;
	font-size: 1.1em;
	color: #2b2b2b;
	font-weight: lighter;
}
.linktop, .linktop:link, .linktop:visited {
	float: right;
	color: #2b2b2b;
	font-size: 1.1em;
}

.icon_book {
	background: url(../images/icon/book.png) no-repeat 0 8px;
}
.icon_case {
	background: url(../images/icon/uppercase.png) no-repeat 0 8px;
}
.icon_charset {
	background: url(../images/icon/charsetconvert.png) no-repeat 0 8px;
}
.icon_encode_decode {
	background: url(../images/icon/encode-decode.png) no-repeat 0 8px;
}
.icon_md5 {
	background: url(../images/icon/md5.png) no-repeat 0 8px;
}
.icon_search {
	background: url(../images/icon/search.png) no-repeat 0 8px;
}
.icon_reverse {
	background: url(../images/icon/reverse.png) no-repeat 0 8px;
}
.icon_pagerank {
	background: url(../images/icon/pagerank.png) no-repeat 0 8px;
}
.icon_link {
	background: url(../images/icon/link.png) no-repeat 0 8px;
}

.icon_barcode {
	background: url(../images/icon/barcode.png) no-repeat 0 8px;
}

.icon_qrcode {
	background: url(../images/icon/qrcode.png) no-repeat 0 8px;
}

.preview {
	background: url(../images/preview.png) no-repeat;
	float:left;
	padding-left:20px;
}
.download {
	background: url(../images/download.png) no-repeat;
	float:right;
	padding-left:20px;
}
.guide {
	border: 1px solid #DFDFDF;
	border-collapse: collapse;
}
.guide_header {
	color: #FFFFFF;
	background: #303028;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	height: 30px;
}
.guide td {
	border-bottom: 1px solid #DFDFDF;
	height: 30px;
	padding: 5px;
	font-size:larger;
}
.guide_col234 {
	width:100px;
	text-align:center;
}
.guide_col1 {
	background-color:#F0F5F1;
	width:150px;
}
.cssprop {
	float:right;
	margin:30px 5px 10px 10px;
	width:150px;
	height:53px;
	background:#FFFFFF url('../images/corner.gif') no-repeat 0 3px;
}
#cssproperties p{
	padding-left:10px;
}
code {
	border:1px solid #D2D2D2;
	padding:5px;
	margin-top:5px;
	background:#FFFFE5 url('../images/code-bg.gif');
	font-family:"Courier New", Courier, monospace;
	font-size:1.2em;
	color:#2b2b2b;
	overflow:auto;
	display:block;
}
.code {
	border:1px dashed #DFDFDF;
	background:#FFFFE5;
	font-size:1em;
	font-family:"Courier New", Courier, monospace;
}
pre {
	font-family:"Courier New", Courier, monospace;
	font-size:1em;	
}
xmp {
	font-size:1.2em;
}
hr {
	color:#CCCCCC;
}
#rnd_container {background: #FFFFFF; margin:1px;}
    
    .rnd_top, .rnd_bottom {display:block; background:#FFFFFF; font-size:1px;}
    .rnd_b1, .rnd_b2, .rnd_b3, .rnd_b4 {display:block; overflow:hidden;}
    .rnd_b1, .rnd_b2, .rnd_b3 {height:1px;}
    .rnd_b2, .rnd_b3, .rnd_b4 {background:#FFFFFF; border-left:1px solid #DFDFDF; border-right:1px solid #DFDFDF;}
    .rnd_b1 {margin:0 5px; background:#DFDFDF;}
    .rnd_b2 {margin:0 3px; border-width:0 2px;}
    .rnd_b3 {margin:0 2px;}
    .rnd_b4 {height:2px; margin:0 1px;}
    
    .rnd_content {
    display:block;
    border:0 solid #DFDFDF;
    border-width:0 1px;
    padding: 4px;
    background:#FFFFFF;
}
#outerbox {
	width:100%;
}
#box1 {
	float:left;
	width:305px;
	margin-bottom:10px;
}
#box2 {
	float:right;
	width:305px;
	margin-bottom:10px;
}
#outerbox img {
	float:left;
	margin:0 5px 0 0;
}
#templatebox {
	border:1px solid #DFDFDF;
	width:195px;
	height:179px;
	float:left;
	margin-right:10px;
	margin-bottom:20px;
	background: url(../images/back_imgnews.png) repeat-x;
}
#templatebox:hover {
	border:1px solid #3366FF
}
#templatedown {
	padding:5px 15px 0 15px;
	background:url(../images/back_imgnews.png) repeat-x;
	width:165px;
	height:20px;
}
#templateimg {
	margin:5px;
	width:185px;
}
#templatebox span {
	font-size:1.2em;
	color:#333333;
	height:18px;
}
.addthis_button {
	margin-right:20px;
}
.note {
  background: #eff url(../images/info.gif) no-repeat 0.4em 0.6em; 
  border: 1px dotted #6cc;
  padding: 0.5em 0.5em 0.5em 30px !important;
  margin-top:10px;
  }
.new {
	width:400px;
	margin:auto;
	border:1px solid #CCCCCC;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding:0 50px 0 10px;
	background:url(../images/new.png) no-repeat 95% 50%;
}
.dep {
	color: #FF0000;
}
.tag {
	background-color: #F0F0F0;
	border: 1px solid #ABCDF3;
}
.att {
border-collapse: collapse;
border: 1px solid #CCCCCC;
margin: 10px 0 20px 20px;
width: 90%;
color:#444444;
font-size:1.3em
}
.att tr {
	padding:5px;
}

.att .col1 {
	width:100px;
}

.att .col2 {
	width:70px;
	text-align:center;
}

.att .header {
	font-weight:bold;
    color: #444444;
    background:#ABCDF3;
}

.att li {
	font-size:1em !important;
	color:#333333 !important;
}
.top_ico {background:url(../images/top_ico.png) no-repeat left center; padding-left:25px;}
.donator {
	padding-left:25px;
	padding-top:7px;
	font-size:larger;
}
