#main-nav,
#masthead-title #masthead-title-text,
.header-search input,
.header-title .logo,
.main-nav-left li a,
.main-nav-right .heading,
h1,
h2,
h3,
h4,
h5 {
  font-family:Geneva,Verdana,sans-serif;
}


#masthead-title #masthead-title-text,
h1,
h2,
h3,
h4,
h5 {
  font-weight:700;
}

#masthead-title #masthead-title-text,
h1 {
  font-size:48px;
  letter-spacing:-.04em;
  line-height:1.1;
}


#masthead-title {
  background:#7ac9ed;
  padding:20px;
}

#masthead-title #masthead-title-text {
  color:#fff;
  text-align:center;
}

.fixed #masthead-title #masthead-title-text {
  font-size:24px;
  text-align:left;
}

.fixed #masthead-title {
  position:fixed;
  top:0;
  left:0;
  right:0;
  opacity:.9;
  z-index:3;
  padding:10px;
}

#masthead-title .social-icons {
  float:right;
}

@media (max-width:768px) {
  #masthead-title #masthead-title-text {
    font-size:24px;
  }
  .fixed #masthead-title #masthead-title-text {
    display:none;
  }
  #masthead-title .social-icons {
    float:none;
    text-align:center;
  }
  #masthead-title .social-icons span {
    display:none;
  }
}

#masthead-title .social-icons .twitter {
  background:#fff;
  color:#7ac9ed;
}
